*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}
a{
	text-decoration:none;
}
li{ 			
	list-style: none;			
}
html, body{
	height: 100%;
	width: 100%;
}
.top-menu{
	overflow: hidden;
	background: url("../images/bg-nav.jpg") no-repeat;
	background-size: 100%;
    width: 1263px;
	margin: 0 auto;
}
.top-menu1{
	float: left;
	height: 60px;
	width: 72px;
	background: url("../images/icon.png") no-repeat;
	background-position: 0 -174px;
	background-size: 171px;
	margin-top: 7px;
}	
.top-menu2{
	overflow: hidden;
	float: left;
    width: 628px;
   	margin-left: 222px;
	margin-top: 17px;
}
.top-menu2-1,
.top-menu2-2,
.top-menu2-3,
.top-menu2-4{
	display: block;
	float: left;
	height: 30px;
	width: 157px;
	background: url("../images/font_icon.png") no-repeat;
	background-size: 180px;
} 
.top-menu2-1{
	background-position: 0 -516px;
}
.top-menu2-2{
	background-position: 0 -553px;
}
.top-menu2-3{
	background-position: 0 -595px;
}
.top-menu2-4{
	background-position: 0 -639px;
}
.top-menu2-1 a,
.top-menu2-2 a,
.top-menu2-3 a,
.top-menu2-4 a{
	display: block;
	height: 30px;
	width: 157px;
}
.top-menu3{
	float: left;
    margin-top: 15px;

}
.top-menu3-1,
.top-menu3-2{
	float: left;
	display: block;
}
.top-menu3-1{
	float: left;
	height: 30px;
	width: 200px;
	text-indent: 15px;
	border-bottom-left-radius: 16px;
	border-top-left-radius: 16px;		
}
.top-menu3-2{
	height: 34px;
	width: 33px;
	border-bottom-right-radius: 16px;
	border-top-right-radius: 16px;
	background:url("../images/icon.png") no-repeat;
	background-position: 2px -396px;
	background-color: #ffffff;
}