.my_trip1 span {
  text-align: center;
  font-size: 29px;
  display: block;
  width: 190px;
  margin-top: 12px;
}
.my_trip-middright {
  float: left;
  height: 56px;
  width: 83px;
  background: url("../images/icon.png") no-repeat;
}
.my_trip2-1 {
  height: 52px;
  background-position: 0 -427px;
}
.my_trip2-2 {
  background-position: 0 -474px;
}
.my_trip2-3 {
  background-position: 0 -531px;
}
.my_trip2-4 {
  background-position: 0 -590px;
}
.my_trip2 li span {
  font-size: 16px;
  display: block;
  float: right;
  margin-top: 31px;
}
.my_trip000 {
  width: 1114px;
  margin: 0 auto;
}
.my_trip00 {
  overflow: hidden;
  width: 1069px;
  margin: 50px auto;
}
.my_trip1 {
  float: left;
  margin-left: 78px;
}
.my_trip-midrigli {
  float: right;
  height: 86px;
  margin-right: 37px;
  width: 300px;
}
.my_trip01 {
  float: left;
  overflow: hidden;
}
.my_trip01-1 {
  height: 54px;
  width: 354px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #94D310;
  margin-top: 12px;
}
.my_trip01-1:before {
  content: "";
  display: block;
  height: 34px;
  width: 94px;
  margin: 10px auto 0;
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -648px;
}
.my_trip01-2 {
  height: 54px;
  width: 354px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #94D310;
  margin-top: 12px;
}
.my_trip01-2:before {
  content: "";
  display: block;
  height: 34px;
  width: 94px;
  margin: 10px auto 0;
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -691px;
}
.menu-list0 {
  display: block;
  height: 54px;
  width: 354px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  line-height: 54px;
  margin-top: 12px;
}
.my_trip02 {
  float: left;
  width: 728px;
  height: 605px;
  background-color: #94D310;
  border-radius: 5px;
  margin-left: 30px;
}
.my_trip02:before {
  content: "";
  display: block;
  height: 148px;
  width: 290px;
  background: url("../images/icon.png") no-repeat 0 -725px;
  margin: 219px auto 0;
}
.menu-list1 {
  overflow: hidden;
  width: 290px;
  border: 1px solid #000000;
  margin-left: 26px;
  border-radius: 8px;
  display: none;
}
.menu-list1-1 {
  display: block;
  height: 24px;
  font-size: 20px;
  font-style: normal;
  padding: 5px;
}
.menu-list1-3 {
  padding: 5px;
}
.menu-list1-4 {
  display: block;
  border-top: 1px solid #000000;
  line-height: 27px;
  text-align: center;
  border-radius: 8px;
  background-color: #dad7d5;
  height: 25px;
}
.menu-list1-3-1 {
  display: block;
  height: 22px;
  font-size: 10px;
}
.menu-list1-3-2 {
  display: block;
  height: 46px;
}
.menu-list1-3-2 span {
  display: block;
  text-align: right;
  font-size: 14px;
  height: 20px;
}
.menu-list1-3-3 {
  display: block;
  height: 46px;
}
.menu-list1-2 img {
  width: 290px;
}
